openapi: 3.0.2
info:
  title: Driver Score API On Demand
  description: >-
    The purpose of the API is to calculate the drive score on demand, using a
    static model or business rules
  version: '1.0.0'
paths:
  /rs-driver-score-od/v1/score:
    post:
      tags:
        - score
      summary: Endpoint returns the score based on the trained model or rules
      description: >-
        Endpoint receives data from the driver and returns the score based on
        the statistic model or business rules
      operationId: Drive_Score_endpoint_rs_driver_score_ondemand_v1_score_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreModelList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionMessageModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionMessageModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionMessageModel'
  /rs-driver-score-od/v1/health:
    get:
      tags:
        - health
      summary: Endpoint for health check - liveness and readiness probe
      description: Endpoint for health check - liveness and readiness probe
      operationId: Health_endpoint_rs_driver_score_ondemand_v1_health_get
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionMessageModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionMessageModel'
components:
  schemas:
    ExceptionMessageModel:
      title: ExceptionMessageModel
      required:
        - code
        - message
      type: object
      properties:
        code:
          title: Code
          type: string
          description: Código do erro.
        message:
          title: Message
          type: string
          description: Mensagem de erro.
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    Payload:
      title: Payload
      required:
        - num_documento
        - regra
        - cd_contrato
        - dt_reserva
        - dt_criacao_reserva
        - vlr_diaria
        - vlr_desconto_especial
        - vlr_perc_desconto_realizado
        - cd_tarifa
        - cd_grupo_tarifario
        - vlr_tarifa
        - km
        - cartao
        - retencao
        - tranquilo
        - vlr_deposito_seguranca
        - rating
        - desc_categoria_parceiro
        - primeira_viagem
        - qtd_viagens_ult_7_dias
        - score_uber
        - dt_nascimento
      type: object
      properties:
        num_documento:
          title: Num Documento
          type: string
        regra:
          title: Regra
          type: string
        cd_contrato:
          title: Cd Contrato
          type: string
        dt_reserva:
          title: Dt Reserva
          type: string
        dt_criacao_reserva:
          title: Dt Criacao Reserva
          type: string
        vlr_diaria:
          title: Vlr Diaria
          type: number
        vlr_desconto_especial:
          title: Vlr Desconto Especial
          type: number
        vlr_perc_desconto_realizado:
          title: Vlr Perc Desconto Realizado
          type: number
        cd_tarifa:
          title: Cd Tarifa
          type: string
        cd_grupo_tarifario:
          title: Cd Grupo Tarifario
          type: string
        vlr_tarifa:
          title: Vlr Tarifa
          type: number
        km:
          title: Km
          type: string
        cartao:
          title: Cartao
          type: string
        retencao:
          title: Retencao
          type: boolean
        tranquilo:
          title: Tranquilo
          type: boolean
        vlr_deposito_seguranca:
          title: Vlr Deposito Seguranca
          type: number
        rating:
          title: Rating
          type: number
        desc_categoria_parceiro:
          title: Desc Categoria Parceiro
          type: string
        primeira_viagem:
          title: Primeira Viagem
          type: integer
        qtd_viagens_ult_7_dias:
          title: Qtd Viagens Ult 7 Dias
          type: integer
        score_uber:
          title: Score Uber
          type: number
        dt_nascimento:
          title: Dt Nascimento
          type: string
    ScoreModel:
      title: ScoreModel
      required:
        - num_score_calculado
        - dt_inclusao_registro
      type: object
      properties:
        num_score_calculado:
          title: Score do Motorista
          type: string
          description: Valor do score.
        dt_inclusao_registro:
          title: Data de inclusão
          type: string
          description: Timestamp do cálculo do score.
    ScoreModelList:
      title: ScoreModelList
      required:
        - scores
      type: object
      properties:
        scores:
          title: Scores
          type: array
          items:
            $ref: '#/components/schemas/ScoreModel'
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
